html, body {
  font-family: mainFontFamily;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  flex: 1 1 auto;
  position: relative;
}